* {
  width: 100%;
}

body {
  background-color: #fff1c1;
  width: 100%;
}

.logo_container {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.logo {
  width: 10%;
  margin-bottom: 10px;
}

.title_our_shoes {
  font-size: 40px;
  font-weight: bold;
}

.all_information {
  width: 95%;
  margin: 0 auto;
}

.shoes_container_style {
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 0px;
  margin-top: 0px;
}

.container_shoe {
  margin: 20px auto;
  width: 90%;
  height: fit-content;

}

.image_shoe {
  height: 300px;
  border-radius: 10px;
}

.brand_shoe {
    margin-top: 5px;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0px;
}
.price_shoe {
  margin-top: 0;
  color: #CB545A;
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.type_shoe {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  margin-bottom: 0px;
}

.year_fabrication {
  margin-top: 0;
  font-size: 14px;
  color: gray;
  margin-bottom: 0px;
}
.place_fabrication {
  margin-top: 0;
  font-size: 14px;
  color: gray;
  margin-bottom: 0px;
}
